code,
pre,
.code {
  font-family: var(--code-font), monospace;
  font-feature-settings:
    "calt" 1,
    "liga" 1;
  line-height: calc(var(--line-height) * 1.5);
  font-size: 1em;
  padding: 0.5em;
  margin: 0.5em 0;
  border-radius: 6px;
  overflow-x: auto;
}

pre.astro-code {
  white-space: pre !important;
}

p {
  margin-bottom: 0.5em;
}