html {
    background-color: #e4e4e4;
    color: #4f4f58;
    padding: 0;
    margin: 0;
}

html.dark {
    background-color: #181a1b;
    color: #e4e4e4;
}

main {
    position: relative;
    z-index: 2;
    width: 100%;
    height: calc(100dvh - 60px);
    padding: 60px 1em 1em 1em;
    overflow: auto;
}

h1 {
    font-size: 2.5rem;
}