.timeline {
  list {
    padding: 0;
    margin: 2rem 0;
    position: relative;

    & > :last-child::before {
      height: 2em;
    }
  }

  @media screen and (min-width: 992px) {
    margin: 0 auto;
  }
}

.timeline-content {
  width: 100%;
}
