---
import Layout from "../layouts/Layout.astro";

const title = {
  tab: "Sobre mí",
  page: "Sobre mí",
};
---

<Layout title={title}>
  <a href="/from-venezuela-to-argentina">De Argentina a Venezuela</a>
</Layout>
