---
import {getCollection} from "astro:content";

import Layout from "../layouts/Layout.astro";
import BlogPost from "../components/BlogPost.astro";

const allPosts = await getCollection("blog");
const title = {
    tab: "Blog",
    page: "Blog",
};
---

<Layout title={title}>
    <ul>
        {
            allPosts
                .filter((post: any) => !post.data.draft)
                .map((post: any) => (<BlogPost url={post.id} title={post.data.title}/>))
        }
    </ul>

    <a href="/tags">Tags</a>
</Layout>
