---
import Layout from "../layouts/Layout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = Object.values(
    import.meta.glob("./posts/*.md", { eager: true }),
);
const title = {
    tab: "Blog",
    page: "Blog",
};
---

<Layout title={title}>
    <ul>
        {
            allPosts
                .filter((post: any) => !post.frontmatter.draft)
                .map((post: any) => (
                    <BlogPost url={post.url} title={post.frontmatter.title} />
                ))
        }
    </ul>

    <a href="/tags">Tags</a>
</Layout>
