---
import {getCollection} from "astro:content";

import Layout from "../layouts/Layout.astro";
import Item from "../components/EducationItem.astro";
import Filter from "../components/Filter.astro";

const title = {
    tab: "Education",
    page: "Educación",
};

const items = await getCollection("education");
const tags = [...new Set(items.flatMap((item) => item.data.tags))];
---

<Layout title={title}>
    <p>
        Aquí encontrarás un recorrido por mi formación académica y profesional. Esta línea de tiempo muestra los cursos, certificaciones y estudios que he completado para mantenerme al día en el mundo del desarrollo de software. Me enfoco principalmente en tecnologías web, arquitectura de software y buenas prácticas de programación.
    </p>

    <section class="timeline">
        <Filter tags={tags}/>
        <ul class="timeline-list">
            {
                items.map((item, index) => (
                        <Item item={item} isLast={index === items.length - 1}/>
                ))
            }
        </ul>
    </section>
</Layout>

<style>
    .timeline-list {
        list-style: none;
        padding: 0;
        margin: 1em 0;
        position: relative;
    }

    .timeline-list > :last-child::before {
        height: 1em;
    }

    @media screen and (min-width: 992px) {
        .timeline {
            max-width: 880px;
            margin: 0 auto;
        }
    }
</style>
