---
import { getCollection } from "astro:content";

import Layout from "../layouts/Layout.astro";
import TimelineItem from "../components/TimelineItem.astro";
import Filter from "../components/Filter.astro";

const title = {
  tab: "Experiencia",
  page: "Experiencia",
};

const breadCrumbs = [
  {
    url: "",
    label: "Experiencia",
  },
];

const items = await getCollection("experience");
const tags = [...new Set(items.flatMap((item) => item.data.tags))];
---

<Layout title={title} breadCrumbs={breadCrumbs}>
  <p>
    A lo largo de mi carrera he tenido la oportunidad de trabajar con diversas
    empresas, desde startups hasta corporaciones multinacionales. Mi trayectoria
    comenzó en 2010 brindando soporte técnico en BBVA Provincial, y ha
    evolucionado hasta convertirme en desarrollador full-stack en Accenture,
    donde actualmente lidero proyectos. He adquirido una amplia experiencia en
    desarrollo web, integración de APIs y liderazgo de equipos, contribuyendo en
    proyectos diversos de distintas industrias. A continuación, se muestra una
    línea de tiempo con mis experiencias profesionales.
  </p>

  <section class="timeline">
    <div class="timeline-filters">
      <Filter tags={tags} />
    </div>
    <ul class="timeline-list">
      {
        items.map((item, index) => (
          <TimelineItem
            item={item}
            isLast={index === items.length - 1}
            type="experience"
          />
        ))
      }
    </ul>
  </section>
</Layout>

<style is:inline>
  .timeline {
    position: relative;
    margin: 1em 0 0 0;

    .timeline-list {
      margin-top: 1em;
    }

    @media screen and (min-width: 993px) {
      display: grid;
      grid-template-columns: 3fr 1fr;
      gap: 1em;
      grid-template-areas: "first second"; /* Force the second column to appear before the first */
      .timeline-filters {
        position: sticky;
        top: calc(45px + 1em);
        align-self: start;
        grid-area: second;
      }

      .timeline-list {
        grid-area: first;
      }
    }
  }
</style>
