---
import {getCollection} from "astro:content";

import Layout from "../layouts/Layout.astro";
import Item from "../components/ExperienceItem.astro";
import Filter from "../components/Filter.astro";

const title = {
    tab: "Experience",
    page: "Experiencia",
};

const items = await getCollection("experience");
const tags = [...new Set(items.flatMap((item) => item.data.tags))];
---

<Layout title={title}>
    <p>
        A lo largo de mi carrera he tenido la oportunidad de trabajar con diversas empresas, desde startups hasta
        corporaciones multinacionales. Mi trayectoria comenzó en 2010 brindando soporte técnico en BBVA Provincial, y ha
        evolucionado hasta convertirme en desarrollador full-stack en Accenture, donde actualmente lidero proyectos. He
        adquirido una amplia experiencia en desarrollo web, integración de APIs y liderazgo de equipos, contribuyendo en
        proyectos diversos de distintas industrias. A continuación, se muestra una línea de tiempo con mis experiencias
        profesionales.
    </p>

    <section class="timeline">
        <Filter tags={tags}/>
        <ul class="timeline-list">
            {
                items.map((item, index) => (
                        <Item item={item} isLast={index === items.length - 1}/>
                ))
            }
        </ul>
    </section>

    <style>
        .timeline-list {
            padding: 0;
            margin: 2rem 0;
            position: relative;
        }

        .timeline-list > :last-child::before {
            height: 2em;
        }

        @media screen and (min-width: 992px) {
            .timeline {
                max-width: 880px;
                margin: 0 auto;
            }
        }
    </style>
</Layout>
