---
import { getCollection } from "astro:content";

import Layout from "../layouts/Layout.astro";
import Item from "../components/ExperienceItem.astro";
import Filter from "../components/Filter.astro";

const title = {
    tab: "Experience",
    page: "Experience",
};

const items = await getCollection("experience");
const tags = [...new Set(items.flatMap((item) => item.data.tags))];
---

<Layout title={title}>
    <p>
        Throughout my career, I have had the opportunity to work with various
        companies, ranging from startups to multinational corporations. My
        journey began in 2010, providing technical support at BBVA Provincial,
        and has evolved into a full-stack development role at Accenture, where I
        currently lead projects. I have gained extensive experience in web
        development, API integration, and team leadership, contributing to
        diverse projects across different industries. Below is a timeline of my
        professional experiences.
    </p>

    <section class="timeline-section">
        <Filter tags={tags} />
        <ul class="timeline-list">
            {
                items.map((item, index) => (
                    <Item item={item} isLast={index === items.length - 1} />
                ))
            }
        </ul>
    </section>

    <style>
        .timeline-section {
            max-width: 800px;
            margin: 0 auto;
            padding: 1rem;
        }

        .timeline-list {
            list-style: none;
            padding: 0;
            margin: 2rem 0;
            position: relative;
        }

        /* Last item line adjustment */
        .timeline-list > :last-child::before {
            height: 2rem;
        }
    </style>
</Layout>
