---
import { getCollection } from "astro:content";

import Layout from "../layouts/Layout.astro";
import Filter from "../components/Filter.astro";
import TimelineItem from "../components/TimelineItem.astro";

const title = {
  tab: "Proyectos",
  title: "Proyectos",
};

const breadCrumbs = [
  {
    url: "",
    label: "Proyectos",
  },
];

const items = await getCollection("projects", ({ data }) => data.visible);
const tags = [...new Set(items.flatMap((item) => item.data.tags))];
---

<Layout title={title} breadCrumbs={breadCrumbs}>
  <p>
    Aquí encontrarás una variedad de proyectos innovadores y creativos que
    destacan mi experiencia en desarrollo web, diseño y experiencia de usuario.
    Desde plataformas inmobiliarias hasta portafolios artísticos, cada proyecto
    refleja mi compromiso con la calidad y la funcionalidad.
  </p>

  <section class="timeline">
    <div class="timeline-filters">
      <Filter tags={tags} />
    </div>
    <ul class="timeline-list">
      {
        items.map((item, index) => (
          <TimelineItem item={item} isLast={index === items.length - 1} type="project" />
        ))
      }
    </ul>
  </section>
</Layout>

<style is:inline>
  .timeline {
    position: relative;
    margin: 1em 0 0 0;

    .timeline-list {
      margin-top: 1em;
    }

    @media screen and (min-width: 993px) {
      display: grid;
      grid-template-columns: 3fr 1fr;
      gap: 1em;
      grid-template-areas: "first second"; /* Force the second column to appear before the first */
      .timeline-filters {
        position: sticky;
        top: calc(45px + 1em);
        align-self: start;
        grid-area: second;
      }

      .timeline-list {
        grid-area: first;
      }
    }
  }
</style>
