---
import { getCollection } from "astro:content";

import Layout from "../layouts/Layout.astro";
import Filter from "../components/Filter.astro";
import Item from "../components/ProjectItem.astro";

const title = {
    tab: "Projects",
    title: "Projects",
};

const items = await getCollection("projects", ({ data }) => data.visible);
const tags = [...new Set(items.flatMap((item) => item.data.tags))];
---

<Layout title={title}>
    <p>
        Here, you will find a diverse range of innovative and creative projects
        that highlight my expertise in web development, design, and user
        experience. From real estate platforms to artistic portfolios, each
        project reflects my commitment to quality and functionality.
    </p>

    <section class="timeline">
        <Filter tags={tags} />
        <ul class="timeline-list">
            {
                items.map((item, index) => (
                    <Item item={item} isLast={index === items.length - 1} />
                ))
            }
        </ul>
    </section>

    <style>
        .timeline-list {
            list-style: none;
            padding: 0;
            margin: 1em 0;
            position: relative;
        }

        .timeline-list > :last-child::before {
            height: 2em;
        }
    </style>
</Layout>
