---
const { url, title, date } = Astro.props;

const language = "es-ES";
---

<a class="blog-post-link" href={`/blog/${url}`}>
  <h3>{title}</h3>
  <span>
    {
      new Date(date).toLocaleDateString(language, {
        day: "2-digit",
        month: "long",
        year: "numeric",
      })
    }
  </span>
</a>

<style is:inline>
  a.blog-post-link {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
  }
</style>
