---
import BreadCrumb from "./BreadCrumb.astro";
import type { BreadCrumb as BreadCrumbType } from "../types/env";

const HOME_BREADCRUMB: BreadCrumbType = {
  url: "/",
  label: "Inicio",
};

const { breadCrumbs = [] } = Astro.props as {
  breadCrumbs?: BreadCrumbType[];
};

const allBreadCrumbs: BreadCrumbType[] =
  breadCrumbs.length > 0 ? [HOME_BREADCRUMB, ...breadCrumbs] : [];
---

<div class="bread-crumbs">
  {allBreadCrumbs.map((crumb) => <BreadCrumb {...crumb} />)}
</div>
