---
import Social from "./Social.astro";
const socials = [
    {
        url: "https://github.com",
        username: "namroj",
        platform: "GitHub",
    },
    {
        url: "https://www.linkedin.com/in",
        username: "jormanespinoza",
        platform: "LinkedIn",
    },
    {
        url: "https://x.com",
        username: "jormandev",
        platform: "X",
    },
    {
        url: "https://instagram.com",
        username: "jorman.dev",
        platform: "Instagram",
    },
    {
        url: "https://www.threads.net",
        username: "@jorman.dev",
        platform: "Threads",
    },
    {
        url: "https://bsky.app/profile",
        username: "jormandev.bsky.social",
        platform: "Bluesky",
    },
];
---

<footer>
    <p>Learn more about my projects on</p>
    <div class="socials">
        {socials.map((social) => <Social {...social} />)}
    </div>
</footer>

<style>
    footer {
        display: flex;
        flex-direction: column;
    }
    .socials {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }
</style>
