---
import Social from "./Social.astro";
import ThemeIcons from "./ThemeIcons.astro";
const socials = [
    {
        url: "https://github.com",
        username: "namroj",
        platform: "GitHub",
    },
    {
        url: "https://www.linkedin.com/in",
        username: "jormanespinoza",
        platform: "LinkedIn",
    },
    {
        url: "https://x.com",
        username: "jormandev",
        platform: "X",
    },
    {
        url: "https://instagram.com",
        username: "jorman.dev",
        platform: "Instagram",
    },
    {
        url: "https://www.threads.net",
        username: "@jorman.dev",
        platform: "Threads",
    },
    {
        url: "https://bsky.app/profile",
        username: "jormandev.bsky.social",
        platform: "Bluesky",
    },
];
---

<footer>
    <div class="socials">
        {socials.map((social) => <Social {...social} />)}
    </div>
    <div class="footer-bottom">
        <p>© {new Date().getFullYear()}. Jorman Espinoza</p>
        <ThemeIcons />
    </div>
</footer>

<style>
    footer {
        padding: 1em 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1em;
    }
    .socials {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
    }
    .footer-bottom {
        display: flex;
        justify-content: space-between;
        gap: 1em;
    }
</style>
