---
import BreadCrumbs from "./BreadCrumbs.astro";
import TableOfContentsToggleButton from "./TableOfContentsToggleButton.astro";
import PreferencesToggleButton from "./PreferecesToggleButton.astro";
import "../styles/footer.css";

const { breadCrumbs } = Astro.props;
---

<footer class={`${breadCrumbs ? "with-breadcrumb" : ""}`}>
  <div class="left">
    {breadCrumbs && <BreadCrumbs breadCrumbs={breadCrumbs} />}
  </div>

  <div class="right">
    <div class="controls">
      <PreferencesToggleButton />
      <TableOfContentsToggleButton />
    </div>
    <p>© {new Date().getFullYear()}. <a href="/">Jorman Espinoza</a></p>
  </div>
</footer>
