---
import Socials from "./Socials.astro";
import Themes from "./Themes.astro";
---

<footer>
    <div class="content">
        <Socials/>
        <div class="bottom">
            <p>© {new Date().getFullYear()}. Jorman Espinoza</p>
            <Themes/>
        </div>
    </div>
</footer>

<style>
    footer {
        position: fixed;
        z-index: 3;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1em 0; /* Padding for footer itself */
        border-top: 1px solid #8e8e8e;
        background-color: #f1f5f9;
    }

    :global(.dark) footer {
        background-color: #181a1b;
        border-top: 1px solid #2a3033;
    }

    footer .content {
        padding: 0 1em;
    }

    footer .bottom {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    footer.expanded {
        z-index: 4;
        background-color: transparent;
        border-top-color: transparent;
    }

    @media screen and (min-width: 992px) {
        footer .content {
            width: 100%;
            margin: 0 auto;
            padding: 0 15dvw;
        }
    }
</style>
