---
import BreadCrumbs from "./BreadCrumbs.astro";
import "../styles/footer.css";

const { breadCrumbs } = Astro.props;
---

<footer class={`${breadCrumbs ? "with-breadcrumb" : ""}`}>
  <div class="left">
    {breadCrumbs && <BreadCrumbs breadCrumbs={breadCrumbs} />}
  </div>

  <div class="right">
    <p>© {new Date().getFullYear()}. <a href="/">Jorman Espinoza</a></p>
  </div>
</footer>
