---
import Socials from "./Socials.astro";
import ThemeIcons from "./ThemeIcons.astro";
---

<footer>
    <Socials />
    <div class="footer-bottom">
        <p>© {new Date().getFullYear()}. Jorman Espinoza</p>
        <ThemeIcons />
    </div>
</footer>

<style>
    footer {
        padding: 1em 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1em;
    }
    .footer-bottom {
        display: flex;
        justify-content: space-between;
        gap: 1em;
    }
</style>
