---
import ThemeSwitcher from "./ThemeSwitcher";
import BreadCrumbs from "./BreadCrumbs.astro";

const { breadCrumbs } = Astro.props;
---

<footer>
  {breadCrumbs && (
    <div class="left">
      <BreadCrumbs breadCrumbs={breadCrumbs} />
    </div>
  )}

  <div class="right">
    <ThemeSwitcher client:load />
    <p>© {new Date().getFullYear()}. <a href="/">Jorman Espinoza</a></p>
  </div>
</footer>

<style>
  footer {
    position: fixed;
    z-index: 3;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 1px solid var(--border-color);
    background-color: var(--background-color);
    padding: 0 0.5em;

    &.expanded {
      z-index: 4;
      background-color: transparent;
      border-top-color: transparent;
    }

    @media screen and (min-width: 992px) {
      height: 45px;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .left {
      position: absolute;
      background-color: var(--background-color);
      padding: 0.25em 0.5em 0.5em;
      border-top: 1px solid var(--border-color);
      width: 100%;
      top: -30px;
      left: 0;

      @media screen and (min-width: 992px) {
        position: initial;
        top: unset;
        left: unset;
        padding: 0.5em;
        border: none;
        width: auto;
      }
    }

    .right {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1em;

      @media screen and (min-width: 992px) {
        align-items: center;
        justify-content: flex-end;
        position: initial;
      }
    }
  }
</style>
