---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
---

<header>
    <nav>
        <Hamburger/>
        <Navigation/>
    </nav>
</header>

<style>
    nav {
        display: flex;
        justify-content: flex-end;
        padding: 0 1em;
    }

    .expanded {
        flex-direction: column;
    }
</style>

<script>
    import "../scripts/navigation.js";
</script>