---
import { Image } from "astro:assets";
import TableOfContentsToggleButton from "./TableOfContentsToggleButton.astro";
import PreferencesToggleButton from "./PreferecesToggleButton.astro";
import profileImage from "../assets/images/profile.jpeg";
const currentPath = Astro.url.pathname;
---

<style>
  .navigation {
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--navbar-height);

    .dev {
      display: flex;
      align-items: center;
      gap: calc(var(--gap) / 2);

      a {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        font-size: 1.489em;
        font-weight: 700;
        color: var(--accent-color);
      }
    }

    &.expanded {
      height: 100dvh;

      .dev {
        position: absolute;
        top: 0.17em;
        left: var(--gap);
      }

      .links {
        display: flex;
        flex-direction: column;
        gap: 1em;

        a {
          display: flex;
        }
      }
    }

    .links {
      display: none;
      gap: 1em;

      @media screen and (min-width: var(--breakpoint-lg)) {
        align-items: center;
      }

      a {
        display: none;
        font-size: 1.489em;
        color: var(--accent-muted-color);

        &:hover {
          color: var(--accent-secondary-color);
        }

        &.active {
          color: var(--accent-color);
        }
      }
    }

    .controls {
      position: absolute;
      top: 0.45em;
      right: calc(var(--control-size) * 1.456);
      display: flex;
      justify-content: flex-end;
      gap: calc(var(--gap) / 2);
      z-index: 10;

      @media screen and (min-width: var(--breakpoint-lg)) {
        position: initial;
        top: unset;
        right: unset;
      }
    }

    @media screen and (min-width: var(--breakpoint-lg)) {
      margin: 0 auto;
      justify-content: space-between;

      .links {
        display: flex;

        a {
          display: flex;
          font-size: inherit;
        }
      }
    }

    #profile-image {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid var(--accent-color);
      padding: 0.15em;
      background-color: var(--background-color);
      cursor: pointer;

      &:hover,
      &.active {
        background-color: var(--accent-color);
        border-color: var(--background-color);
      }
    }
  }
</style>

<div class="navigation">
  <div class="dev">
    <Image
      id="profile-image"
      src={profileImage}
      alt="Imagen de perfil de Jorman Espinoza"
      loading="eager"
      width={40}
      height={40}
    />
    <a href="/">Jorman Espinoza</a>
  </div>
  <div class="links">
    <a href="/about" class={currentPath === "/about" ? "active" : ""}>
      Sobre mí
    </a>
    <a href="/education" class={currentPath === "/education" ? "active" : ""}>
      Educación
    </a>
    <a href="/experience" class={currentPath === "/experience" ? "active" : ""}>
      Experiencia
    </a>
    <a href="/projects" class={currentPath === "/projects" ? "active" : ""}>
      Proyectos
    </a>
    <a
      href="/blog"
      class={currentPath === "/blog" || currentPath.startsWith("/blog")
        ? "active"
        : ""}
    >
      Blog
    </a>
    <a href="/contact" class={currentPath === "/contact" ? "active" : ""}>
      Contacto
    </a>
    <div class="controls">
      <PreferencesToggleButton />
      <TableOfContentsToggleButton />
    </div>
  </div>
</div>

<script>
  document.addEventListener("astro:page-load", () => {
    const profileToggleBtn = document.getElementById("profile-image");
    const profile = document.getElementById("profile");

    profileToggleBtn?.addEventListener("click", () => {
      profile?.classList.toggle("active");
      profileToggleBtn.classList.toggle("active");
    });

    document.addEventListener("click", (event) => {
      const target = event.target as HTMLElement;
      if (
        profile?.classList.contains("active") &&
        !profile.contains(target) &&
        !profileToggleBtn?.contains(target)
      ) {
        profile.classList.remove("active");
        profileToggleBtn?.classList.remove("active");
      }
    });
  });
</script>
