---
const currentPath = Astro.url.pathname;
---

<div class="navigation">
  <div class="dev">
    <a href="/">Jorman Espinoza</a>
  </div>
  <div class="links">
    <a href="/about" class={currentPath === "/about" ? "active" : ""}>
      Sobre mí
    </a>
    <a href="/education" class={currentPath === "/education" ? "active" : ""}>
      Educación
    </a>
    <a href="/experience" class={currentPath === "/experience" ? "active" : ""}>
      Experiencia
    </a>
    <a href="/projects" class={currentPath === "/projects" ? "active" : ""}>
      Proyectos
    </a>
    <a
      href="/blog"
      class={currentPath === "/blog" || currentPath.startsWith("/blog")
        ? "active"
        : ""}
    >
      Blog
    </a>
    <a href="/contact" class={currentPath === "/contact" ? "active" : ""}>
      Contacto
    </a>
  </div>
</div>

<style>
  .navigation {
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--navbar-height);

    .dev a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      font-size: 1.489em;
      font-weight: 700;
      color: var(--accent-color);
    }

    .links {
      display: none;
      gap: 1em;

      a {
        display: none;
        font-size: 1.489em;
        color: var(--accent-muted-color);

        &:first-of-type {
          align-self: flex-start;
        }

        &:hover {
          color: var(--accent-secondary-color);
        }

        &.active {
          color: var(--accent-color);
        }
      }
    }

    &.expanded {
      height: 100dvh;

      .dev a {
        position: absolute;
        top: 0.45em;
        left: 0.67em;
      }

      .links {
        display: flex;
        flex-direction: column;
        gap: 1em;

        a {
          display: flex;
        }
      }
    }

    @media screen and (min-width: 992px) {
      margin: 0 auto;
      justify-content: space-between;

      .links {
        display: flex;

        a {
          display: flex;
          font-size: inherit;
        }
      }
    }
  }
</style>
