---
const currentPath = Astro.url.pathname;
---

<nav class="nav-links">
    <a href="/" class={currentPath === "/" ? "active" : ""}>Home</a>
    <a href="/about" class={currentPath === "/about" ? "active" : ""}>About</a>
    <a href="/education" class={currentPath === "/education" ? "active" : ""}>
        Education
    </a>
    <a href="/experience" class={currentPath === "/experience" ? "active" : ""}>
        Experience
    </a>
    <a href="/projects" class={currentPath === "/projects" ? "active" : ""}>
        Projects
    </a>
    <a
        href="/blog"
        class={currentPath === "/blog" || currentPath.startsWith("/blog/")
            ? "active"
            : ""}
    >
        Blog
    </a>
</nav>

<style>
    .nav-links {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        gap: 1em;
        display: none;
        margin: 0;
    }

    .nav-links a {
        text-decoration: none;
        display: block;
        text-align: right;
        width: auto;
        font-size: 1.2em;
        color: grey;
    }

    .nav-links a:hover {
        background-color: transparent;
        color: darkcyan;
    }

    .nav-links a.active {
        color: purple;
    }

    .expanded {
        display: unset;
    }

    @media screen and (min-width: 768px) {
        .nav-links {
            display: flex;
        }
    }
</style>
