---

---

<nav class="nav-links">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/experience">Experience</a>
    <a href="/education">Education</a>
    <a href="/blog">Blog</a>
</nav>
