---

---

<div class="no-match-items">
  <p>
    No se encontraron resultados que coincidan con tus criterios de búsqueda.
  </p>
  <button class="reset-search-btn">Limpiar búsqueda</button>
</div>

<style>
  .no-match-items {
    display: none;
  }
</style>