---
import ThemeSwitcher from "./ThemeSwitcher";
import FontSwitcher from "./FontSwitcher";
import LineNumberToggle from "./LineNumberToggle";

const currentPath = Astro.url.pathname;
---

<aside id="preferences" class="preferences">
  <div class="content">
    <h3 class="title">Preferencias</h3>
    <div class="switchers">
      <div class="group">
        <h4 class="title">Tema</h4>
        <ThemeSwitcher client:load />
      </div>
      <div class="group">
        <h4 class="title">Fuente</h4>
        <FontSwitcher client:load />
      </div>
      {
        currentPath === "/blog" ||
          (currentPath.startsWith("/blog") && (
            <div class="group">
              <h4 class="title">Código</h4>
              <LineNumberToggle client:load />
            </div>
          ))
      }
    </div>
  </div>
</aside>

<style>
  .preferences {
    position: fixed;
    top: calc(var(--navbar-height) + 1px);
    right: calc(var(--sidebar-width) * -1);
    width: var(--sidebar-width);
    height: calc(50dvh);
    background-image: var(--navigation-background-image);
    background-repeat: repeat;
    backdrop-filter: blur(10px);
    z-index: 9;
    transition: right 0.3s ease;
    overflow-y: auto;
    box-shadow: -2px 0 5px rgba(var(--background-color-rgb), 0.1);

    &.expanded {
      border-left: none;
    }

    &.active {
      right: 0;
    }

    @media screen and (min-width: var(--breakpoint-lg)) {
      right: -28dvw;
      width: 28dvw;
      height: calc(100vh - 91px);
    }

    .title {
      margin-bottom: 2em;
      color: var(--accent-color);
    }

    .switchers {
      display: flex;
      flex-direction: column;
      gap: 1em;
    }

    .content {
      padding: 1em;
    }

    .group {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .title {
        margin-bottom: 0.5em;
        color: var(--accent-color);
      }
    }
  }
</style>
