---
import { Image } from "astro:assets";
import profileImage from "../assets/images/profile.jpeg";
import Socials from "./Socials.astro";
---

<style>
  #profile {
    position: fixed;
    top: calc(var(--navbar-height) + 1px);
    left: calc(var(--sidebar-width) * -1);
    width: var(--sidebar-width);
    height: calc(50dvh);
    padding: var(--gap);
    background-image: var(--navigation-background-image);
    background-repeat: repeat;
    backdrop-filter: blur(10px);
    z-index: 9;
    transition: left 0.3s ease;
    overflow-y: auto;
    box-shadow: -2px 0 5px rgba(var(--background-color-rgb), 0.1);

    &.expanded {
      border-left: none;
    }

    &.active {
      left: 0;
    }

    @media screen and (min-width: var(--breakpoint-lg)) {
      left: -28dvw;
      width: 28dvw;
      height: calc(100vh - 91px);
    }

    img {
      width: 150px;
      height: 150px;
      padding: calc(var(--gap) * 0.23);
      border-radius: 50%;
      border: 2px solid var(--accent-color);
    }

    h2 {
      color: var(--accent-color);
      font-style: italic;
    }

    h3 {
      color: var(--accent-muted-color);
    }

    h4 {
      text-align: right;
    }
  }
</style>

<aside id="profile">
  <Image
    src={profileImage}
    alt="Imagen de perfil de Jorman Espinoza"
    loading="eager"
    width={150}
    height={150}
  />
  <h3>Espinoza Torrealba</h3>
  <h2>Jorman Daniel</h2>
  <h4>Desarrollador de Software</h4>
  <Socials template="icons" />
</aside>
