---
const { url, platform, username } = Astro.props;
---

<a href={`${url}/${username}`} class="social" target="_blank">
  {platform}
</a>

<style>
  .social {
    z-index: 4;
    padding-right: 0.5em;
    font-size: 0.89em;
    color: #8e4ace;
  }

  .social:last-of-type {
    padding-right: 0;
  }

  .social:hover {
    color: #8e8e8e;
  }

  :global(.dark) {
    .social {
      color: #8e8e8e;
    }

    .social:hover {
      color: #8e4ace;
    }
  }

  @media screen and (min-width: 992px) {
    .social {
      padding-right: 1em;
    }
  }
</style>
