---
const {url, platform, username} = Astro.props;
---

<a href={`${url}/${username}`} class="social" target="_blank">
    {platform}
</a>

<style>
    .social {
        padding-right: 1em;
        color: #4a4d99;
    }

    .social:last-of-type {
        padding-right: 0;
    }

    :global(.dark) {
        .social {
            color: #c6c1c5;
        }
    }
</style>
