---
const {url, platform, username} = Astro.props;
---

<a href={`${url}/${username}`} class="social" target="_blank">
    {platform}
</a>

<style>
    .social {
        padding-right: 1em;
        color: #8e4ace;
        z-index: 4;
    }

    .social:last-of-type {
        padding-right: 0;
    }

    .social:hover {
        color: #8e8e8e;
    }

    :global(.dark) {
        .social {
            color: #8e8e8e;
        }

        .social:hover {
            color: #8e4ace;
        }
    }
</style>
