---
const { url, platform, username } = Astro.props;
---

<style>
    a {
        padding: 0.5em 1em;
        color: white;
        background-color: #4c1d95;
        text-decoration: none;
    }
</style>

<a href={`${url}/${username}`} target="_blank">
    {platform}
</a>
