---
import { getCollection } from "astro:content";
import Layout from "../../../layouts/Layout.astro";
import { slugify } from "../../../utils/slugify";

const title = {
  tab: "Etiquetas",
  page: "Etiquetas",
};

const breadCrumbs = [
  {
    url: "/",
    label: "Blog",
  },
  {
    url: "",
    label: "Etiquetas",
  },
];

const allPosts = await getCollection("blog");
const tags = [...new Set(allPosts.map((post: any) => post.data.tags).flat())];
---

<Layout title={title} breadCrumbs={breadCrumbs}>
  <div class="tags">
    {
      tags.map((tag) => (
        <p class="tag">
          <a href={`/blog/tags/${slugify(tag)}`}>{tag}</a>
        </p>
      ))
    }
  </div>
</Layout>

<style is:raw>
  .tags {
    display: flex;
    gap: 0.5em;
  }

  .tag {
    background: var(--accent-muted-color);
    padding: 0.25em 0.75em;
    border-radius: 25px;
    font-size: 0.75em;
    color: var(--background-color);
    cursor: pointer;
  }

  .tag:hover,
  .tag.highlight-tag {
    background: var(--accent-color);
    border-color: var(--accent-color);

    & > a {
      color: var(--foreground-color);
    }
  }
</style>
